<IfModule mod_headers.c>

 <FilesMatch "\.(js|css|xml|html|gz)$">
  Header append Vary: Accept-Encoding
 </FilesMatch>

</IfModule>

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 month"
ExpiresByType image/jpeg "access 1 month"
ExpiresByType image/gif "access 1 month"
ExpiresByType image/png "access 1 month"
ExpiresByType image/svg "access 1 month"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType text/javascript "access 1 month"
ExpiresByType application/javascript "access 1 month"
ExpiresByType application/xhtml+xml "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 month"
ExpiresDefault "access 1 month"
</IfModule>

RewriteEngine On
#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 
#RewriteCond %{HTTP_HOST} !^www\. [NC]
#RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/$    index.php    [L]


#change password section
RewriteRule ^change-password/([A-Za-z0-9-]+)/?$    change-password.php?token=$1    [NC,L]
RewriteRule ^admin/change-password/([A-Za-z0-9-]+)/?$    admin/changepassword.php?token=$1    [NC,L] 
RewriteRule ^changepass/([A-Za-z0-9-]+)/?$    changepass.php?token=$1    [NC,L]

#admin panel section
RewriteRule ^admin/?$    admin/index.php    [NC,L]
RewriteRule ^admin/login?$    admin/index.php    [NC,L]

RewriteRule ^verify/([A-Za-z0-9-]+)/?$    verify.php?token=$1    [NC,L]

#this is for product section
RewriteRule ^category/([A-Za-z0-9-]+)/?$    products.php?cslug=$1  [NC,L]
RewriteRule ^category/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$    products.php?cslug=$1&cslug2=$2  [NC,L]
RewriteRule ^category/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/?$    products.php?cslug=$1&cslug2=$2&cslug3=$3  [NC,L]
RewriteRule ^product/([A-Za-z0-9-]+)/?$    single-product.php?slug=$1  [NC,L]

#pagination of products
RewriteRule ^products/page/([0-9-]+)/?$    products.php?page=$1  [NC,L]
RewriteRule ^category/([A-Za-z0-9-]+)/page/([0-9-]+)/?$    products.php?cslug=$1&page=$2  [NC,L]
RewriteRule ^category/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/page/([0-9-]+)/?$    products.php?cslug=$1&cslug2=$2&page=$3  [NC,L]
RewriteRule ^category/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/page/([0-9-]+)/?$    products.php?cslug=$1&cslug2=$2&cslug3=$3&page=$4  [NC,L]

#ajax request
RewriteRule ^myajax?$    admin/query.php  [NC,L]
RewriteRule ^my-order-details?$    admin/order-details.php    [NC,L]
RewriteRule ^myajaxrequest/deletemyaddress/([A-Za-z0-9-]+)/?$    admin/query.php?action=del_user_add&id=$1   [NC,L]

#payment
RewriteRule ^razorpay/pay/([A-Za-z0-9-]+)/?$    razorpay/pay.php?order_id=$1  [NC,L]

#ErrorDocument 404 siteurl

RewriteRule ^([^\.]+)$ $1.php [NC,L]

